     ul 
     li
     a(href ='/')  home    nav.navbar.navbar-expand-lg.navbar-light.bg-light
a.navbar-brand(href='/') 
  
.collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(style="text-decoration: none" href='/') Home
      li.nav-item
        a.nav-link(style="text-decoration: none" href='/services') Services
      li.nav-item
        a.nav-link(style="text-decoration: none" href='/contact') Contact Us

      
     li
     a(href ='/services')  services 
     li
     a(href ='/contact')  contact                                                                                                                                                                                                                                                                                                        